In [1]:
import pandas as pd
import numpy as np
import pyrsm as rsm

#  Data Exploration and Cleaning

### Basic summary statistics

In [5]:
# loading the data 
df = pd.read_csv('Dell_ADSE_DS_DE_MLE_dataset.csv')
df.head()

,asst_id,product_type,mnfture_wk,contract_st,contract_end,contact_wk,contact_type,issue_type,topic_category,parts_sent,repair_type,repeat_ct,parts_ct,agent_tenure_indays,contact_manager_flg,diagnostics,repeat_parts_sent,region,country
0,0,Laptops,201726,201726,202125,201840,Voice,NaN,NaN,"Hard Drive, Documentation(2)",Hard,0,3,1018.0,0,Not_USED,NaN,Hogwarts,NaN
1,1,Laptops,201650,201650,201949,201840,Voice,NaN,NaN,"Speaker, Chassis",Hard,0,2,1018.0,0,Not_USED,NaN,Hogwarts,Zonko's Joke Shop
2,2,Laptops,201821,201821,202222,201840,Voice,NaN,NaN,Cables,Hard,0,1,1018.0,0,Not_USED,"Motherboard, Miscellaneous(2), Hard Drive, Cha...",Hogwarts,Zonko's Joke Shop
3,3,Laptops,201608,201608,201908,201840,VOICE,Hard Drive,Booting,Hard Drive,Hard,0,1,298.0,0,Effective_Usage,NaN,Hogwarts,Zonko's Joke Shop
4,4,Laptops,201732,201732,202032,201840,Voice,NaN,NaN,Battery (Notebook),Hard,0,1,1018.0,0,Not_USED,NaN,Hogwarts,Zonko's Joke Shop

In [10]:
# Overview of the data: column data types, non-null values, etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   asst_id              100000 non-null  int64
 1   product_type         99980 non-null   object
 2   mnfture_wk           100000 non-null  int64
 3   contract_st          100000 non-null  int64
 4   contract_end         100000 non-null  int64
 5   contact_wk           100000 non-null  int64
 6   contact_type         99986 non-null   object
 7   issue_type           85958 non-null   object
 8   topic_category       66916 non-null   object
 9   parts_sent           54566 non-null   object
 10  repair_type          100000 non-null  object
 11  repeat_ct            100000 non-null  int64
 12  parts_ct             100000 non-null  int64
 13  agent_tenure_indays  99986 non-null   float64
 14  contact_manager_flg  100000 non-null  int64
 15  diagnostics          100000 non-null  object
 16  repeat_parts_sent    13346 non-null   object
 17  region               99997 non-null   object
 18  country              89998 non-null   object
dtypes: float64(1), int64(8), object(10)
memory usage: 14.5+ MB

In [11]:
# Summary statistics for numerical columns
rsm.describe(df)
# df.describe()

No description attribute available

,asst_id,mnfture_wk,contract_st,contract_end,contact_wk,repeat_ct,parts_ct,agent_tenure_indays,contact_manager_flg
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000,100000.00000,99986.000000,100000.000000
mean,35702.117890,201672.108910,201671.595910,201951.897740,201840.0,0.074090,1.15955,985.886844,0.012430
std,25038.092288,156.139692,158.940598,186.777325,0.0,0.262491,1.56942,862.044503,0.110795
min,0.000000,201001.000000,200547.000000,201006.000000,201840.0,0.000000,0.00000,218.000000,0.000000
25%,12382.750000,201612.000000,201612.000000,201903.000000,201840.0,0.000000,0.00000,536.000000,0.000000
50%,32898.500000,201719.000000,201720.000000,201938.000000,201840.0,0.000000,1.00000,801.000000,0.000000
75%,57701.250000,201808.000000,201809.000000,202045.000000,201840.0,0.000000,2.00000,1018.000000,0.000000
max,82441.000000,201927.000000,202630.000000,202953.000000,201840.0,3.000000,51.00000,8922.000000,1.000000

In [13]:
# Count of missing values in each column
missing_values = df.isnull().sum()
missing_values

asst_id                    0
product_type              20
mnfture_wk                 0
contract_st                0
contract_end               0
contact_wk                 0
contact_type              14
issue_type             14042
topic_category         33084
parts_sent             45434
repair_type                0
repeat_ct                  0
parts_ct                   0
agent_tenure_indays       14
contact_manager_flg        0
diagnostics                0
repeat_parts_sent      86654
region                     3
country                10002
dtype: int64

### Dealing with missing values

In [16]:
# Filling missing values with a new category called "Not Specified". 
df['product_type'].fillna('Not Specified', inplace=True)

This keeps the missing values identifiable and doesn't add bias to existing categories.